@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
    margin: 0;
    padding: 0;
}
#pol{
    position: absolute;
    top: 40vh;
    margin: 30px;
}
#k2{
    font-size:50px;
}
h1 {
    margin-top: 8px;
    font-size: 50px;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    color: aliceblue;
    font-weight: lighter;
    letter-spacing: 3px;
}

html {
    font-family: 'Handlee', cursive;
    background: rgb(101, 34, 178);
    position: relative;
    overflow: hidden;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-image: url(img/Untitled.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}
#tower1{
    top:200px;
    left: 400px;
    z-index: 6;
}

.tower {
    position: relative;
    margin-right: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: linear-gradient(-45deg, #00E5FF, #0014FF);
    z-index: 4;

}

.enemy {
    transform: rotate(-130deg) scale(.14);
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    left: 105%;
    animation: animate 10s linear  ;
    animation-delay: .3s;
    background-image: url(img/enemy2.png);
    background-repeat: no-repeat;
 
}
#e1{top: 10vh;animation-delay: 1.1s; background-color: blue;}
#e2{top: 20vh;animation-delay: .3s;}
#e3{top: 30vh;animation-delay: .7s;}
#e4{top: 50vh;animation-delay: .2s;}
#e5{top: 34vh;animation-delay: .5s;}
#e6{top: 24vh;animation-delay: .9s;}
body{
    width: 100%;
    height: 100vh;
}
@keyframes animate {

    0%{
        transform: translateX(20px) rotate(0deg)  rotate(-130deg) scale(.5);
        top:-30vh;
    }
    20%{
        transform: translateX(-500px) rotate(0deg) rotate(-130deg) scale(.5);
        top:60vh;
    }
    100%{
        transform: translateX(-1900px) rotate(0deg) rotate(-130deg) scale(.5);
        top:60vh;
    }

}
#but{
width: 100px;
height: 100px;
background-color: rgb(8, 125, 125);
}
#tag{
    width: 5px;
    height: 5px;
    background-color: red;
    position: absolute;
    top: var(--YTagMove);
    left: var(--YTagMove);
}
.bullet{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    transform: rotate(-40deg) scale(0.6);
    animation: bullet 3s cubic-bezier(1, 0, 1, 1);
    background-image: url(img/bullet4.png);
    background-repeat: no-repeat;
    z-index: 2;
    left:400%;
    
}
:root{
   /* --PosiEnd:2000px;
   --PosiStart:0px;
   --EndPosiEnemyY:0; */
   --XTagMove: 100px;
   --YTagMove: 100px;
}
/* @keyframes bullet11 {

    0%{
        transform:translateX(var(--PosiStart)) translateY(-330px) scale(1) rotate(-0deg);
        
    }

    100%{
        transform: translateX(var(--PosiEnd)) translateY(130px) scale(1) rotate(-0deg);
       
       
    }
} */
