* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: namee;
}
@font-face {
  font-family: 'namee'; /*a name to be used later*/
  src: url('fonts/font.ttf');; /*URL to font*/
}
body {
  background-color: rgb(255, 255, 255);
  position: fixed;
  height: 100vh;
  width: 100%;
  font-family: url;
 
  font-size: 20px;
  display: grid;
  place-items: center;
  overflow: hidden;
  z-index: 2;
}

.item1 {

  margin: 150px;
  transform: rotate(1deg) scale(2) skew(-30deg);
}
.item2 {

  margin: 150px;
  transform: rotate(-5deg) scale(3) skew(+30deg);
  animation: animate 30s linear infinite alternate;
}

li {
  display: block;
  background-color: rgb(10, 92, 206);
  width: 100px;
  height: 100px;
  border-radius: 20%;
  margin: 20px;
  z-index: 0;
}
.btn {
  text-decoration: none;
  border: 2px solid #764abc;
  color: #764abc;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #764abc;
  transition: all 1s;
}

.btn::before {
  /*...previous code */
  z-index: -1;
  transform: translateX(-99%);
}

.btn:hover::before {
  transform: translateX(0);
}

.btn:hover {
  color: #fff;
}

.item1 {
  animation: animate 1s linear infinite alternate;
}
@keyframes animate22
{
  0%{
    transform: rotate(50deg) scale(2) skewX(-150deg);
    background-color: rgb(255, 0, 0);
  }
  100%{
    transform: rotate(500000deg) scale(2) skewX(1500000deg);
    background-color: rgba(0, 0, 0, 0);
  }
}
@keyframes animate
{

    0% {
      transform: rotate(50deg) scale(0) skewX(-150deg);
      background-color: rgba(255, 255, 255, 0.559);
    }

    100% {
      transform: rotate(-800deg) scale(40 ) skewX(-200deg);
      background-color: rgba(255, 0, 0, 0.669);
    }
  }

#fafafa{
  width: 186px;
  height: 105px;
  background-color: #764abc45;
  display: block;
  margin: 10px;
  border-radius: 15px;
  position: absolute;
  float: top;
  top: 150%;
  left: 100%;
  padding: 4px;
}
#fafafa1{
  position: absolute;
  background-color: black;
  width: 90%;
  height: 100vh;
  animation: animate22 30s linear infinite;
  z-index: 4;
}
html{
  background-color: black;
  width: 200%;
}
